.cat-fact {
    position: fixed;
    top: 1%;
    right: 3%;
  }

.cat-fact-button {
    font-size: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cat-fact-info {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.3rem;
    cursor: help;
}