.parallax {
  background-image: url('../../resources/parallax-background.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.parallax-text-container p {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.parallax-text-container {
  padding-left: 1em;
  padding-top: 3em;
  padding-right: 50%;
}

.parallax-lorem-text {
  padding-top: 4em;
}
